
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500;1,600&display=swap');

  *{
    font-family: 'Nunito', sans-serif;
  }
  table{
    overflow-x: hidden;
  }

  .daterangepicker {
    z-index: 1
    }

    .rs-picker-daterange-menu {
      z-index: 10000000000; /* added a large random number, you can choose it more carefully based on your use-case.*/
    }
    .dark {
      background-color: "red";
      color: "pink";
    }